body {
    background: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: 900px;
    margin: auto;
}

#title, .subtitle, .post_title {
    color: black;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
}

a {
    text-decoration: line-through;
    color: black;
}

.post_title {
    font-size: 16px;
    font-style: italic;
}

.post {
    background: white;
    padding: 15px;
    border: 3px solid red;
    margin-bottom: 15px;
    border-radius: 5px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.post_image {
    margin-bottom: 15px;
    border-radius: 5px;
    width: 100%;

}

.contact_list {
    list-style-type: none;
    padding-left: 15px;
}

.contact_list li a {
    text-decoration: none;
}